<!DOCTYPE html>
<html>
<head>
  	
  	<title>Maze Generator</title>
  	<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all">
  	<meta name=viewport content="width=device-width, initial-scale=1">

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
				https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>

		<script>
			// Your web app's Firebase configuration
			var firebaseConfig = {
				apiKey: "AIzaSyAlfXgCVazpjfoWvjZHeLSS8eVXtGvpikU",
				authDomain: "the-maze-a86a4.firebaseapp.com",
				databaseURL: "https://the-maze-a86a4.firebaseio.com",
				projectId: "the-maze-a86a4",
				storageBucket: "the-maze-a86a4.appspot.com",
				messagingSenderId: "309940934979",
				appId: "1:309940934979:web:90b1a67977c762fd4477f6",
				measurementId: "G-Z7TCYCQEFX"
			};
			// Initialize Firebase
			firebase.initializeApp(firebaseConfig);
			firebase.analytics();
			// Initialize Cloud Firestore through Firebase
			const db = firebase.firestore();
		</script>

</head>
<body>

	<header>
		<h1><a href="./index.html"><img src="assets/logo.png" alt="Maze"/></a></h1>
	</header>

	<main ng-app="mazeGenerator" ng-controller="generatorCtrl">

		<div class="maze_settings">
			
			<label for="maze_name">Maze name</label>	
			<input type="text" name="maze_name" ng-model="maze.name" />

		</div>

		<div class="maze_blockselector">
			
			<div class="maze_blocktype">
				<input ng-repeat="name in blockNames track by $index" ng-class="isActive($index)" ng-click="setBlockType($index)" type="button" value="{{ name }}" />
			</div>

		</div>

		<div id="maze_board">

			<div class="edit_line">
				<span ng-click="addLine(1)" class="edit_line__plus"></span>
				<span ng-click="removeLine(1)" class="edit_line__less"></span>
			</div>

			<div class="maze_board__central_box">

				<div class="edit_line">
					<span ng-click="addLine(4)" class="edit_line__plus"></span>
					<span ng-click="removeLine(4)" class="edit_line__less"></span>
				</div>


				<div class="maze_board__content maze_board__content--editor" ng-mousedown="drawMode(true)" ng-mouseup="drawMode(false)">
					<div class="maze_board__row" ng-repeat="row in maze.matrix track by $index">
						{{blockRow = $index}}
						<div ng-repeat="col in row track by $index" class="maze_board__block">
							{{blockCol = $index}}
							<div class="path {{ blockNames[maze.matrix[blockRow][blockCol]] }}" ng-mouseover="evalBlockOver(blockRow,blockCol)" ng-click="evalBlock(blockRow,blockCol)"></div>
						</div>
					</div>
				</div>
			
				<div class="edit_line">
					<span ng-click="addLine(2)" class="edit_line__plus"></span>
					<span ng-click="removeLine(2)" class="edit_line__less"></span>
				</div>
			
			</div>

			<div class="edit_line">
				<span ng-click="addLine(3)" class="edit_line__plus"></span>
				<span ng-click="removeLine(3)" class="edit_line__less"></span>
			</div>

			<h3>{{ maze.name }} ( {{ maze.matrix.length }}x{{ maze.matrix[0].length }} )</h3>

			<!-- temp css class -->
			<p class="maze_blocktype"><input type="button" value="save" ng-click="save()"></p>

			<p>
				{{ printJsonMaze() }}
			</p>

		</div>

	</main>

  	<footer>
  		<p>Developed by <a href="http://mondspace.com" target="_blank">Marco</a> | <a href="./index.html">Play it!</a></p>
  	</footer>

	<script src="./assets/vendor/angular.min.js"></script>
	<script src="./assets/js/generator.js"></script>

</body>
</html>